attrs==26.1.0
blackrenderer==0.8.2
booleanOperations==0.10.0
brotli==1.2.0
certifi==2026.7.22
cffi==2.1.1
cffsubr==0.4.0
charset-normalizer==3.5.2
colorama==0.4.6
compreffor==0.6.0
defcon==0.12.2
diffenator2==0.5.0
filelock==4.0.12
fontmake==3.12.1
fontMath==0.10.0
fonttools==4.66.1
freetype-py==2.5.1
gflanguages==0.7.7
glyphsets==1.0.0
glyphsLib==6.16.0
greenlet==3.5.6
h11==0.16.0
idna==3.20
ImageIO==2.38.1
Jinja2==3.1.6
lazy-loader==0.6
lxml==6.1.3
MarkupSafe==3.0.4
networkx==3.7
ninja==1.13.2
numpy==2.5.3
openstep_plist==0.5.2
outcome==1.3.0.post0
packaging==26.3
pillow==12.3.0
platformdirs==4.12.4
playwright==1.63.0
protobuf==3.20.3
pyahocorasick==2.3.1
pybind11==3.1.0
pyclipper==1.4.0
pycparser==3.11
pyee==13.0.1
pyparsing==3.3.3
PySocks==1.7.1
python-bidi==0.6.11
PyYAML==6.0.3
requests==2.34.2
scikit-image==0.26.0
scipy==1.18.1
selenium==4.50.0
setuptools==84.0.0
skia-pathops==0.9.2
skia-python==144.0.post2
sniffio==1.3.1
sortedcontainers==2.4.0
tifffile==2026.9.20
tqdm==4.70.1
trio==0.34.0
trio-websocket==0.12.2
ttfautohint-py==0.6.1
typing_extensions==4.16.0
ufo2ft==3.9.1
ufoLib2==0.19.0
uharfbuzz==0.56.3
unicodedata2==18.0.0
urllib3==2.8.0
vttLib==0.12.1
websocket-client==1.9.2
wsproto==1.3.2
youseedee==0.7.0
